:root {
    --bg: #c0c0c0;
    /* classic gray */
    --light: #ffffff;
    /* highlight edge */
    --mid: #d9d9d9;
    /* inner light */
    --dark: #808080;
    /* shadow edge */
    --darker: #404040;
    /* deepest shadow */
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    color: rgb(1, 1, 55);
    background-image: url("../flowers.webp");
    background-size:cover;
    background-repeat:no-repeat;
}

.button:not(.disabled):hover {
    /* content: attr(data-title); */
    background-color: blue;
    color: white;
}

[data-title] {
    position: relative;
}

[data-title]::after {
    content: attr(data-title);
    position: absolute;
    background-color: rgb(35, 166, 247);
    color: white;
    border: solid white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 5px;
    width: max-content;
    /* white-space: normal; */
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
    z-index: 9999; 
}

[data-title]:hover::after {
    opacity: 1;
}

div {
    margin: 10px;
}

h6 {
    color: white;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0px;
}

td {
    padding: 0;
}

td button {
    background-color: rgb(87, 186, 248);
    width: 25px;
    height: 25px;
    display: grid;
    box-sizing: border-box;
    place-items: center;
}

.box {
    max-width: fit-content;
    padding: 20px;
    background-color: rgb(1, 1, 55);
    /* border-radius: 20% 0%; */
    margin: 10px auto 20px auto;
    opacity: 0.9;
}

.board {
    /* max-width: 250px; */
}

.button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20%;
    border-top: 3px solid var(--light);
    border-left: 3px solid var(--light);
    border-right: 3px solid var(--dark);
    border-bottom: 3px solid var(--dark);
    /* padding: 0px; */
}

.revealed {
    background-color: rgb(174, 212, 216);
    /* border: 3px solid rgb(255, 255, 255); */
    color: rgb(2, 32, 57);
    font-style: oblique;
    font-size: large;
    border-top: 3px solid var(--dark);
    border-left: 3px solid var(--dark);
    border-right: 3px solid var(--light);
    border-bottom: 3px solid var(--light);
}

.levels {
    margin: 2%;
}

.stats {
    /* font-family: 'Orbitron', system-ui, sans-serif; */
    font-family: "Wallpoet", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
    font-size: 26px;
    color: white;
    /* background-color: rgb(87, 186, 248); */
    background-color: rgb(1, 1, 55);
    width: 100px;
    height: 30px;
    margin: 10px;
    /* border-radius: 20% 0%; */
    padding: 5px;
    place-items: center;
}

.stats .button {
    background-color: rgb(1, 1, 55);
    font-size: 35px;
}

.non-button {
    /* background-color: rgb(1, 1, 55); */
    /* border: 3px solid rgb(1, 1, 55); */
    display: inline-block;
}

.status-emoji {
    padding: 10px 20px;
    font-size: 30px;
}

.timer {
    width: 50px;
    padding: 0;
}

.best-score {
    font-size: 15px;
    color: rgb(87, 186, 248);
    width: 8%;
}

.status:not(.light) {
    border-bottom: solid white;
}

/* 
.lives {
    border: solid lightblue;
} */

.modal {
    position: absolute;
    max-width: fit-content;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(156, 217, 237);
    color: aliceblue;
    background-color: rgb(1, 1, 55);
    border-radius: 20% 0%;
    padding: 5px 20px;
    opacity: 1;
    transition: 1.5s;
}

.modal span {
    color: rgb(137, 193, 242);
}

.hidden {
    display: none;
}

.modal-fade {
    opacity: 0;
    bottom: 90%
        /* position: absolute */
}

.red {
    background-color: red;
    border: 3px solid red;
}

.red.modal {
    border: 3px solid black
}

.yellow {
    background-color: yellow;
    color: rgb(1, 1, 55);
    /* border: 3px yellow; */
}

.light-mode {
    width: 100px;
    height: fit-content;
    border-radius: 0 0;
    margin: 0 auto;
    cursor: pointer;
}

.light {
    background-color: white;
    /* border: solid white; */
    color: rgb(1, 1, 55);
}

.dark {
    background-color: rgb(1, 1, 55);
    /* border: solid white; */
    color: white;
}

.disabled {
    background-color: #808080;
    cursor: none;
}

.disable:hover {
background-color: #808080;
}