* {
    box-sizing: border-box;
}

:root {
    --bg: #c0c0c0;
    /* classic gray */
    --light: #eae8e8;
    /* highlight edge */
    --mid: #d9d9d9;
    /* inner light */
    --dark: #808080;
    /* shadow edge */
    --darker: #404040;
    /* deepest shadow */
    --box-width: 39rem;
}


body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    color: rgb(1, 1, 55);
    background-image: url("../flowers.webp");
    background-size: 120vw;
    background-repeat:repeat;
}

[data-title] {
    position: relative;
}

[data-title]::after {
    content: attr(data-title);
    position: absolute;
    background-color: rgb(35, 166, 247);
    color: white;
    border: solid white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 5px;
    width: max-content;
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
    z-index: 9999; 
}

[data-title]:hover::after {
    opacity: 1;
}

h6, .checkbox {
    color: white;
}

.levels {
    margin: 0;
}

.levels table {
    margin: 0 auto;
}

.levels td {
    width: calc(var(--box-width) / 3);
}

.levels td:not(.light) {
    background-color: rgb(1, 1, 55);
}

.levels span {
    margin: 5px 0;
}

.box {
    width: var(--box-width);
    padding: 0px 0px 10vh;
    background-color: rgb(1, 1, 55);
    margin: 0px auto;
    opacity: 0.9;
}

.board table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0px;
}

td {
    padding: 0;
}

td button {
    background-color: rgb(87, 186, 248);
    width: 25px;
    height: 25px;
    display: grid;
    box-sizing: border-box;
    place-items: center;
}

.button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-top: 3px solid var(--light);
    border-left: 3px solid var(--light);
    border-right: 3px solid var(--dark);
    border-bottom: 3px solid var(--dark);
}

.button:not(.disabled):hover {
    background-color: blue;
    color: white;
}

.revealed {
    background-color: rgb(174, 212, 216);
    color: rgb(2, 32, 57);
    font-style: oblique;
    font-size: large;
    border-top: 3px solid var(--dark);
    border-left: 3px solid var(--dark);
    border-right: 3px solid var(--light);
    border-bottom: 3px solid var(--light);
}

.stats {
    font-family: "Wallpoet", sans-serif;
    font-style: normal;
    font-size: 26px;
    color: white;
    background-color: rgb(1, 1, 55);
    background-color:  hsla(203, 83%, 75%, 0.159);
    height: 30px;
    margin: 5px 0px;
    padding: 5px 0;
    box-sizing:border-box;
    place-items: center;
}

.stats.button.speical {
    font-size: 26px;
    width: calc(var(--box-width) / 6);
}

.non-button {
    background-color:  hsla(203, 83%, 75%, 0.159);
    border: 0px solid gray;
    width: calc(var(--box-width) / 3);
}

.status-emoji {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 30px;
}

.timer {
    padding: 0;
}

.best-score {
    font-size: 15px;
    color: rgb(87, 186, 248);
    position: relative;
    margin-top: 1%;
}

.modal {
    position: absolute;
    width: 15vw;
    left: 49vw;
    top: 10vh;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(156, 217, 237);
    color: aliceblue;
    background-color: rgb(1, 1, 55);
    border-radius: 20% 0%;
    padding: 5px 20px;
    opacity: 1;
    transition: 1.5s;
}

.modal span {
    color: rgb(137, 193, 242);
}

.modal-fade {
    opacity: 0;
    top: 100vh;
    z-index: 0; 
}

.red {
    background-color: red;
    border: 3px solid red;
}

.red.modal {
    border: 3px solid black
}

.yellow {
    background-color: yellow;
    color: rgb(1, 1, 55);
}

.light-mode {
    width: 100px;
    height: fit-content;
    border-radius: 0 0;
    margin: 0 auto;
    cursor: pointer;
}

.light {
    background-color: white;
    color: rgb(1, 1, 55);
}

.dark {
    background-color: rgb(1, 1, 55);
    color: white;
}

.hidden {
    display: none;
}

.disabled {
    background-color: #808080;
    cursor: none;
}

.disable:hover {
background-color: #808080;
}